<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRAIMDataBase.Properties.Settings.PRAIMTableConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\PRAIMTable.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PRAIMDataBase.Properties.Settings.MyDatabaseDataConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MyDatabaseData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>